* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
}
@font-face{
  font-family: 'Avenir Next Cyr';
  src:url("fonts/AvenirNextCyr-Medium.ttf");
  src:url("fonts/AvenirNextCyr-Regular.ttf") 

}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Avenir Next Cyr';
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  color: #353535;
  padding-bottom: 4%;
  margin-top: 7%;
}
h2 {
  font-family: 'Avenir Next Cyr';
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: #353535;
}
h3 {
  font-family: 'Avenir Next Cyr';
  font-weight: 500;
  font-style: normal;

}

.top-menu {
  background-color: #343434; 
  height: 40px;
  padding-left: 3%;
  padding-right: 3%;  
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.free-shipping{
  display: flex;
  justify-content: space-between;
}
.aero-icon {
  width: 6%;
  height: 16%;
  margin-right: 6px;
  margin-top: 2px;
}
.working-time {
  display: flex;
  justify-content: space-between;
}
.time-icon {
  width: 11%;
  height: 16%;
  margin-right: 6px;
  margin-top: 0px;
}

.telephone {
  display: flex;
}
@media (max-width: 1240px) {
  .top-menu {
  padding: 0; 
  margin: 0;
  font-size: 10pt;
  padding-left: 4%;
  padding-right: 4%;
}
  .tel {
    display: none;
  }
  .profile {
    display: none;
  }
  h1,h2,h3 {
    text-align: center;
  }
  h1 {
    font-size: 24pt;
  }
  h2 {
    font-size: 16pt;
  }
  h3 {
    font-size: 11pt;
  }
}
@media (max-width: 650px) {
  .free-shipping {
    width: 46%;
    
  }
  .working-time {
    width: 29%;
  }
  .aero-icon {
    width: 19%;
    height: 20%;
    margin-right: 6px;
    margin-top: 5px;
  }
  .time-icon {
    width: 21%;
    height: 16%;
    margin-right: 6px;
    margin-top: 2px;
  }
}

.top-menu > a {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.menu {
  padding-left: 3%;
  padding-right: 3%;   
  height: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border-line {
  width: 100%;
  height: 1px;
  background-color: #c8c7c6;
}
.search {
  background: url(../images/magnifying-glass.png) no-repeat left;
  background-size: 9%;
  padding-left: 2%;
  border: none;
  height: 25px;
}
input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #000000
}
.search-mobil {
  background: url(../images/magnifying-glass.png) no-repeat left;
  background-size: 14%;
  border: none;
  height: 25px;
  width: 23%;
}
.logo {
  margin-right: 100px;
}

.dropdown-menu {
  padding-left: 3%;
  padding-right: 3%;   
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.dropdown-menu > li {
  list-style-type: none;
}
.dropdown-menu> li>a {
  font-family: 'Avenir Next Cyr';
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
  color: #353535;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 650px) {
  .dropdown-menu {
    display: none;
  
  }
  .logo {
    width: 63%;
    margin-right: 0;
  }
 .search {
   display: none;
 }
}

@media (min-width: 651px) {
  .search-mobil {
    display: none;
  }
  .gamburger {
    display: none;
  }

  }

.content {
    width: 100%;
    padding-top: 2%;
}

.banner {
  padding-left: 3%;
  padding-right: 3%; 
  padding-top: 2%;
  height: 651px;
  width: 1268px;
  

}
.banner-img {
   background: url(../images/banner1.png) no-repeat;
   width: 100%;
   height: 100%;
   
}

.banner2 {
  padding-left: 3%;
  padding-right: 3%; 
  padding-top: 2%;
  height: 225px; 
  width: 1268px;
}
.figure {
  height: 225px;
}
.banner2-img {
  background: url(../images/banner2.png) no-repeat;
  position: absolute;
  left: 0;
  height: 225px;
  margin-left: 274px;
  width: 77%;
  margin-top: 45px;
}
@media (max-width: 1000px) {
  .banner {
    height: 395px;
    width: auto;
  }

.figure {
 display: none; 
}
.banner2 {
  height: 92px;
}
.banner2-img {
  position: absolute; 
  margin-left: auto;
  width: auto;
  margin-top: auto;
}
}
.marc {
  font-family: 'Avenir Next Cyr';
    font-weight: 500;
    font-style: normal;
    font-size: 24pt;
    text-align: center;
}
@media (min-width: 1240px) {
  .marc {
    display: none;
    
  }
  
} 

.categories {
  margin-top: 6%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1240px) {
.categories{
  display: block;
  margin-top: 75%;
}
.banner-img {
  width: auto;
  height: 100%;
  background-size: 180%;
  background-position: -128px;
  font-size: 24pt;
  
}
.banner2-img {
  margin-left: 0;
  width: 100%;
  background-position: -681px;
}
.marc {
  text-align: inherit;
  padding-left: 4%;
}
}

.categories-rigth {
    padding-top: 4%;
    margin-left: 3%;
}
.categories-rigth-1, .categories-rigth-2 {
  width: 100%;
}
.categories-rigth-2 {
  margin-top: 33px;
}
.categories-rigth-1:hover,.categories-rigth-2:hover{
  opacity: 0.5;
}
.foto {
    width: 518px;
    height: 885px;
    position: relative;

}
@media (max-width: 1240px) {
  .foto{
    width: auto;
    height: auto;
    text-align: center;
  }
  .foto-img {
    margin-top: 58px;
  }
  .foto:hover .foto-img {
    margin-top: 58px;
}
  }
 

.categories-none {
  height: 96%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255, 0.7);
  padding: 20px;
  width: 100%;
  display:none;
}
.foto:hover .categories-none{
  display:block;
}

.category-text {
  font-family: 'Avenir Next Cyr';
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  padding-top: 65%;
  color: #353535;

}


.category-btn {
  text-align: center;
  margin-top: 5%;
}

.category-btn > button {
  width: 160px;
  height: 55px;
  background-color: #353535;
  font-family: 'Avenir Next Cyr';
  font-weight: 500;
  font-style: normal;
  font-size: 14pt;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.line {
    width: 10%;
    height: 10px;
    padding-left: 370px;
    margin-top: 8%;
    margin-left: 22%;
    background-color: #353535;
}
.bags {
    margin-top: 7%;
}
.blog {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 3%;
}
@media (max-width: 1240px) {
  .blog{
    display: block;
    height: auto;
    overflow: hidden;
    max-height: 1553px;
  }
  .category-text {
    padding-top: 0;
    font-size: 16pt;
  }
  .category-btn {
    display: none;
  }
  
  }
.figure2 {
  margin-left: 70%;
  margin-top: -20px;
}
.new {
  position: relative;
}
.shoes-btn {
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -132px;
  right: 0;
  background: rgba(255,255,255, 0.7);
  padding: 20px;
  width: 89%;
  display:none;
}
.new:hover .shoes-btn{
  display:block;
}
.shoes {
  margin-top: -37%;
  background: url(../images/shoes.png) no-repeat;
  width: 648px;
  height: 285px;
}
.shoes-btn >button {
  width: 160px;
  height: 55px;
  align-items: center;
  background-color: #e0aba5;
  font-family: 'Avenir Next Cyr';
  font-weight: 500;
  font-style: normal;
  font-size: 14pt;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 14pt;
  margin-left: 38%;
  margin-top: 18%;
}
.new2 {
  width: 100%;
}   
 
.new2-text {
  margin-top: 23%;
  text-align: right;
}
.figure2-1 {
  margin-top: -22px;
}
.trends {
  margin-top: -32%;
  background: url(../images/trends.png) no-repeat;
  width: 648px;
  height: 285px;
  margin-left: 10%;
}
.trends-btn {
  height: 75%;
  position: absolute;
  left: 65px;
  right: 0;
  background: rgba(255,255,255, 0.7);
  padding: 20px;
  width: 95%;
  display:none;
}
.new:hover .trends-btn{
  display:block;
}
.trends-btn>button{
  width: 160px;
  height: 55px;
  align-items: center;
  background-color: #e0aba5;
  font-family: 'Avenir Next Cyr';
  font-weight: 500;
  font-style: normal;
  font-size: 14pt;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 14pt;
  margin-left: 38%;
  margin-top: 18%;
}
/* .new3{
    float: left;
} */
.dress-code{
  background: url(../images/dress-code.png) no-repeat;
  width: 486px;
  height: 877px;
  margin-top: -166%;

}
.dress-code-btn {
  height: 100%;
  position: absolute;
  left: 60px;
  bottom: -113px;
  right: 0;
  background: rgba(255,255,255, 0.7);
  padding: 20px;
  width: 69%;
  display:none;
}
.dress-code-btn>button{
  width: 160px;
  height: 55px;
  align-items: center;
  background-color: #e0aba5;
  font-family: 'Avenir Next Cyr';
  font-weight: 500;
  font-style: normal;
  font-size: 14pt;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 14pt;
  margin-left: 38%;
  margin-top: 70%;
}
.new:hover .dress-code-btn{
  display:block;
}
.figure3 {
  margin-top: -6%;
  margin-left: 77%;
}
@media (max-width: 1240px) {
  .figure, .figure2, .figure2-1, .figure3, .line, .line-subscription, .trends-btn,
  .dress-code-btn, .shoes-btn {
    display: none;
    
  }
  .dress-code, .shoes, .trends, .subscription  {
    margin-top:auto; 
    padding: 0;
    margin: 0;
  }
  .shoes {
    background-position: -103px;
    background-size: 85%;
  }
  .trends {
    background-position: -106px;
    background-size: 75%;
  }
  .dress-code {
    background-position: -82px;
    height: 600px;
    background-position-y: 0;
  }
  .new2-text {
    text-align: center; 
    margin-top: 10%;
  }
  .blog-rigth {
    margin-top: 7%;
  }
  .blog-left {
    margin-top: 25%;
  }
  .trends-btn {
    left: 0;
  }
}

.subscription {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 12pt;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  font-style: normal;;
  color: #353535;
  margin-top: -46px;
  
} 

.line-subscription {
  width: 180px;
  height: 7px;
  background: #343434;
  margin-top: 2%;
}
.subscription-title{
  text-align: center;
}
.form-email {
  padding-top: 65px;
  display: inline-flex;
}

.form-email-text {
  width: 350px;
  height: 50px;
  text-align: left;
  padding-left: 20px;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  font-style: normal;
  font-size: 13pt;
}
.form-email-btn {
  width: 170px;
  height: 53px;
  background-color: #353535;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  font-style: normal;
  font-size: 12pt;
}
.form-email-btn:active {
  background-color: #e0aba5;
}
.form-email-btn:hover {
  background-color: #e0aba5;
}
.form-email-btn2 {
  width: 73px;
  height: 53px;
  background-color: #353535;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  font-style: normal;
  font-size: 32pt;
}
.form-email-btn2:active {
  background-color: #e0aba5;
}

@media (max-width: 850px) {
  .form-email {
    display: inline-flex;
    padding-left: 3%;
    padding-right: 3%;
  }
  .form-email-text {
    width: auto;
    min-width: 210px;
  }
  .form-email-btn {
    display: none;
  }
  .subscription {
    margin-top: -6px;
  }
  .subscription-title {
  margin-top: 20%;
}
}

@media (min-width: 850px) {
  .form-email-btn2 {
    display: none;
  
  }
}
.footer {
  margin-top: 7%;
  background-color: #353535;
  height: 480px;
  padding-right: 3%;
  padding-left: 3%;
  position: relative;
}
.footer-menu{
  display: flex;
  justify-content: start;
  list-style-type: none;
  padding-top: 160px;
  color: #ffffff;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  font-style: normal;
  font-size: 12pt;
}
.footer-menu > li> a {
  color: #ffffff;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  font-style: normal;
  font-size: 12pt;
  text-decoration-line: none;
  line-height: 1.5;
}
.footer-menu >li {
  margin-right: 75px;
}
.footer-down {
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
  color: #ffffff;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  font-style: normal;
  font-size: 12pt;
}
.social {
  margin-top: -65px;
  text-align: right;
  line-height: 3;
}
.social > li {
  list-style-type: none;
}
.soc {
  display: flex;
  justify-content: space-around;
}
.fb, .vk, .ig {
  width: 21%;
  cursor: pointer;
}
.fb {
  background: url(../images/facebook.png) no-repeat;
  
}
.fb:hover {
  background: url(../images/facebook-hover.png) no-repeat;
}
.vk {
  background: url(../images/vk.png) no-repeat;
  width: 21%;
}
.vk:hover {
  background: url(../images/vk-hover.png) no-repeat;
}
.ig {
  background: url(../images/instagram.png) no-repeat;
 
}
.ig:hover {
  background: url(../images/instagram-hover.png) no-repeat;
}
@media (max-width: 1240px) {
  .footer-down {
    position: relative;
  }
  .catalog {
    display: none;
  }
  .footer-menu {
    display: block;
    padding-top: 70px;
  }
  .footer-menu >li {
    height: 40px;
    margin: 0;
  }
  .social {
    position: absolute;
    margin-top: -320px;
    text-align: center;
    padding-left: 87px;
    
  }
  .footer-logo {
    position: absolute;
    margin-top: 275px;
    padding-left: 100px;
  }
  .footer-copyright {
    margin-top: 95px;
    font-size: 11pt;
    text-align: center;
  }
  .pay  {
    text-align: center;
  }
 
}
